
.checker-table { 
    position: absolute;
    height: 440px;
    width: 440px;
    /* height: 400px; */
    /* width: 400px; */
    /* background-color: brown; */
    background-color: rgb(240, 240, 240);
    /* background-color: blue; */

    /* display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch; */

    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
    box-shadow: 0px 5px 20px -7px #000000;
    /* transform: scaleY(.9); */
    /* transition: transform .25s, opacity 0.5s; */
}

.test-div {
    height: 50px;
    height: 50px;
}

/* div.dark-tiles{
    background-color: #297F87;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
    overflow: auto;
    white-space: nowrap;
  } */

span.data-spec {
    /* position: absolute; */
    /* max-height: 320px; */
    /* max-width: 300px; */
    /* position: absolute; */
    /* height: 500px; */
    /* width: 500px; */

    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;

    /* position: sticky; */
    /* top:20px; */
    /* background-color: #333; */
    /* background-color: #297F87; */
    /* background-color: #fff; */
    /* background-color: ; */
    /* overflow: auto; */
    /* white-space: nowrap; */
    /* margin-left: 10px; */
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    z-index: 4;

    /* display: flex;
	flex-direction: row;
    justify-content: space-between;
	align-items: stretch;
	align-content: center;
    margin: 20px; */
  }

  .check-row-1 {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
  }

  .check-row-1 div:nth-of-type(2n+1) {
    /* background-color: rgb(240, 240, 240); */
    /* margin: 15px; */
    background-color: #DF2E2E;
    /* opacity: .2; */
  }

  div.scrollitems{
    height: 40px;
    width: 40px;
  background-color: #297F87;
  /* background-color: blue; */
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  overflow: auto;
  white-space: nowrap; */
  /* margin: 15px; */
  opacity: .3;
}

  .check-row-2 {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
  }

  .check-row-2 div:nth-of-type(2n+1){
    /* margin: 15px; */
    background-color: #297F87;
  }

  div.scrollitems-2{
      height: 40px;
      width: 40px;
    /* background-color: #297F87; */
    background-color: #DF2E2E;
    /* background-color: blue; */
    /* display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
    overflow: auto;
    white-space: nowrap; */
    /* margin: 15px; */

    opacity: .3;
  }