.tile-location {
    position: relative;
    height: 42px;
    width: 42px;
    margin: none;
}

.tile-color-dark,
.tile-color {
    position: relative;
    height: 40px;
    width: 40px;
    background-color: black;
    opacity: .2;
    margin: 1px;
    z-index: 10;
}

.tile-color-dark {
    background-color: #DF2E2E;
    /* opacity: .1; */
    z-index: 10;
}

.player-text {
    position: absolute;
    color: white;
    margin: none;
    z-index: 2;
}

.not-selected {
    /* display: none; */
    color: #fff;
}

.select-box-overlay {
    position: absolute;
    height: 150px;
    width: 150px;
    right: -55px;
    top: -55px;
    /* opacity: .3; */
    /* background-color: blue; */
    z-index: 100;
}

.select-box {
    position: absolute;
    height: 100px;
    width: 100px;
    right: -20px;
    top: -20px;
    /* padding-left: 100px; */
    background-color: yellow;
    z-index: 0;
}

.top-left,
.top-right,
.low-left,
.low-right,
.arrow {

    /* margin: 0px; */
        /* margin-right: 0px; */
    position: absolute;
    height: 20px;
    width: 20px;
    border: solid green;
    border-width: 0 6px 6px 0;
    display: inline-block;
    /* left:110px;
    top: 110px; */
    z-index: 11;
    /* z-index: 11; */
    /* padding: 0px; */
}

.low-right {
    left:105px;
    top: 105px;
}
.low-left {
    left:20px;
    top: 105px;
    transform: rotate(90deg); /* Equal to rotateZ(45deg) */
}
.top-left {
    left: 20px;
    top: 20px;
    transform: rotate(180deg)
}
.top-right {
    left:105px;
    top: 20px;
    transform: rotate(270deg)
}